body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.clr
{
    color: orange;
}
.ahsan
{
display: flex;
}
.flex
{
    padding: 2%;
    width: 50%;
    
    

}
.flex img
{
    width: 80%;
    
    padding-right: 10%;
}

#safa
{
    font-weight: 400;
}
h1
{
 font-size: 4em;
}
.ass
{
    padding-left: 4%;
    
}
.link
{
    background-color: orange;
    padding: 10px 40px;
    border-radius: 10px;
    margin: auto;
    text-decoration: none;
    background-image: linear-gradient(orange,purple);
    font-weight: 400;
    color: azure;
}
.top
{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.top1
{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
* {
    box-sizing: border-box;
  }
  
  
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; 
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
    padding-top: 20px;
    
  }
  .box
  {
    box-shadow: 10px 10px 30px gray;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 20px;
    border: 30px;
    border-left: 7px solid gray;
    padding-left: 10px;
    padding-right: 10px;
    
  }
.lttl
  {
    padding: 10px 10px;
    padding right:5%;
  }
  textarea
  {
    resize: none;
    width: 50%;
    border: 3px solid gray;
    border-color: no;
    border-radius: 5px;
    text-align: center;
  }
  input-[type="button"]{
    width: 100px;
    padding: 10px;
    border: none;
    color: cornsilk;
    background-color: orange;
  }